[submodule "snarkOS"]
	path = snarkOS
	url = https://github.com/AleoHQ/snarkOS.git
[submodule "leo"]
	path = leo
	url = https://github.com/AleoHQ/leo
[submodule "aleo-setup"]
	path = aleo-setup
	url = https://github.com/AleoHQ/aleo-setup
[submodule "snarkVM"]
	path = snarkVM
	url = https://github.com/AleoHQ/snarkVM.git
[submodule "sdk"]
	path = sdk
	url = ./sdk
